@charset = "UTF-8";

body {
  background: black;
  color: silver;
  font-size: 1.25rem;
  text-align: center;
}

h2 {
  color: silver;
}

h6 {
  color: silver;
}

#container {
  color: silver;
  background-color: #000033;
  border: 10px solid dimgray;
  border-radius: 20px;
  height: 90%;
  width: 90%;
  min-width: 400px;
  margin: 0 auto;
}

#thumbs {
  background-color: #00004d;
  border: 10px solid dimgray;
  border-radius: 20px;
  height: 90%;
  width: 90%;
  min-width: 300px;
  min-height: 300px;
  margin: 2% auto;
  padding: 12px;
}

.tile {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid dimgray;
  background-color: black;
  text-align: center;
  display: inline-block;
  margin: 1%;
}

.complete {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid dimgray;
  background-color: ghostwhite;
  color: cadetblue;
  text-align: center;
  display: inline-block;
  margin: 1%;
}

.complete img{
	width: 90%;
	height: 90%;
	margin: 5%;
	display: block;
}

.uncover {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid dimgray;
  background-color: ghostwhite;
  color: cadetblue;
  text-align: center;
  display: inline-block;
  margin: 1%;
}

.uncover img{
	width: 90%;
	height: 90%;
	margin: 5%;
	display: block;
}

.pic {
  width: 90%;
  height: 90%;
  margin: 5%;
  display: none;
}

.mouseOver {
	width: 60px;
	height: 60px;
	border-radius: 5px;
	border: 2px solid dimgray;
	background-color: dimgray;
	text-align: center;
	display: inline-block;
	margin: 1%;
}
